@page "/AddEditBookmarkMud"
@page "/AddEditBookmarkMud/{BookmarkGuid}"
@using AnugBlazorWorkshop.ViewModel
@inject AddEditViewModel ViewModel
<h3>@ViewModel.PageTitle</h3>

<EditForm Model="ViewModel.Bookmark" OnSubmit="ViewModel.FormSubmitted">
    <DataAnnotationsValidator />

    <MudTextField @bind-Value="ViewModel.Bookmark.Title" Label="Title" Variant="Variant.Text"></MudTextField>
    <ValidationMessage For="() => ViewModel.Bookmark.Title" />
        
    <br />

    <MudTextField @bind-Value="ViewModel.Bookmark.Url" Label="Url" Variant="Variant.Text"></MudTextField>
    <ValidationMessage For="() => ViewModel.Bookmark.Url" />
        
    <br />

    <MudTextField @bind-Value="ViewModel.Bookmark.Description" Label="Description" Variant="Variant.Text"></MudTextField>
  
    <br/>

    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">@ViewModel.SubmitButtonCaption</MudButton>
    <input type="submit" value="" />
</EditForm>

@code {
    [Parameter]
    public string BookmarkGuid { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        await ViewModel.Initialize(BookmarkGuid);
    }
}