@page "/bookmarks"
@using AnugBlazorWorkshop.Services
<h3>Bookmarks</h3>
@inject IBookmarkService BookmarkService;
@inject NavigationManager NavigationManager;

<p>
    <input type="button" value="Add Bookmark" @onclick="AddNewBookmark" class="button"/>
</p>


@if (_bookmarks != null)
{
    <ul>
        @foreach (var bookmark in _bookmarks)
        {
            <li>
                <a href="@bookmark.Url" target="_blank">@bookmark.Title</a> <input type="button" value="Edit" class="button" @onclick="() => EditExistingBookmark(bookmark)" />
            </li>
        }

    </ul>
}

@code {
    private List<Bookmark> _bookmarks;

    protected override async Task OnInitializedAsync()
    {
        _bookmarks = await BookmarkService.GetBookmarks();
    }

    private void AddNewBookmark()
    {
        NavigationManager.NavigateTo("AddEditBookmark");
    }

    private void EditExistingBookmark(Bookmark bookmark)
    {
        NavigationManager.NavigateTo($"AddEditBookmark/{bookmark.Guid}");
    }

}
