@page "/bookmarksAsComponent"
@using AnugBlazorWorkshop.Services
<h3>Bookmarks</h3>
@inject IBookmarkService BookmarkService;
@inject NavigationManager NavigationManager;

<p>
    <input type="button" value="Add Bookmark" @onclick="AddNewBookmark" class="button"/>
</p>


@if (_bookmarks != null)
{
    <BookmarkList Bookmarks="_bookmarks" ShowEditButton="true"></BookmarkList>
}

@code {
    private List<Bookmark> _bookmarks;

    protected override async Task OnInitializedAsync()
    {
        _bookmarks = await BookmarkService.GetBookmarks();
    }

    private void AddNewBookmark()
    {
        NavigationManager.NavigateTo("AddEditBookmark");
    }
}