@page "/"
@using AnugBlazorWorkshop.Services
@inject IBookmarkService BookmarkService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<h1>The Bookmarks:</h1>
<BookmarkList ShowEditButton="false" Bookmarks="_bookmarks"></BookmarkList>

@code {
    private List<Bookmark> _bookmarks;

    protected override async Task OnInitializedAsync()
    {
        _bookmarks = await BookmarkService.GetBookmarks();
    }
}